:root {
    --very-dark-blue: hsl(200, 15%, 8%);
    --dark-grey: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --ff-nunito-sans: "Nunito Sans", sans-serif;

    --fw-light: 300;
    --fw-semi-bold: 600;
    --fw-extra-bold: 800;

    --shadow: 0 0 7px -2px var(--dark-grey);
}

body {
    font-family: var(--ff-nunito-sans);
}

a {
    color: unset;
    text-decoration: unset;
}

.header-black-mode {
    background-color: #2B3844;
    color: white;
}

header {
    padding: 1.875rem 1rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    padding-left: 48px;
    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        font-weight: var(--fw-extra-bold);
    }
}

.dark-mode {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dark-mode:hover {
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
}

.dark-mode span {
    margin-right: 8px;
    text-align: center;
}

.dark-mode span img {
    width: 24px;
    height: 24px;
}

.main-wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--very-light-gray);
}

form {
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: minmax(min-content, 480px) 1fr;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    .search-input-wrapper {
        position: relative;
        margin-bottom: 2.5rem;
    }

    .search-icon {
        position: absolute;
        left: 30px;
        top: 20px;
    }

    .search-input {
        width: 100%;        
        padding: .875rem 4.625rem;
        box-shadow: var(--shadow);
        border: none;
    }

    .search-select-wrapper {
        margin-bottom: 2.5rem;

        @media screen and (min-width: 1024px) {
            justify-self: end;
        }
    }

    .select-input {
        padding: .875rem 5rem .875rem 1.5rem;
        border: none;
        background-color: var(--white);
        box-shadow: var(--shadow);

        /* @TODO: penser à tester ça sur Chrome */
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        background-position-y: 50%;
    }
}

.select-input-darkmode option {
    background-color: #2B3844;
    color: white;
    border: #2B3844 2px;
}


.results {
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    display: grid;
    gap: 2.5rem;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.country-card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.country-flag {
    margin-bottom: 1.5rem;
}

.big-country-flag {
    max-width: 560px;
    max-height: 401px;
    border-radius: 8px;
    margin-top: 80px;
}

.country-details-page {
    margin-top: 80px;
    color: black;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.4s;
}



.country-details {
    padding: 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li span {
        font-weight: var(--fw-semi-bold);
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dark-mode-main {
    background-color: #202C36;
}

.dark-mode-countrycard {
    background-color: #2B3844;
    color: white;
}

.dark-mode-seach-input {
    background-color: #2B3844;
    background: #2B3844;
}

.back-button {
    display: flex;
    cursor: pointer;
    width: 136px;
}

.new-page-information-country {
    
}

.back-image {
    display: flex;
    margin-right: 8px;
}